h1, form, h2 {
	text-align: center;
	margin-top: 50px;
}

.results {
	margin-bottom: 100px;

}

.js-search-results {
	text-align: center;
}

h2 {
	font-size: 30px;
	margin-bottom: 100px;
}

h3 {
	font-size: 18px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    }